@use 'typography';
@use 'variables';

/* GENERAL STYLES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

/* MIXINS */
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin margin-section {
	margin: 80px 0px;
}

@mixin font($family, $weight, $color, $size) {
	font-family: font-f($family), sans-serif;
	font-weight: font-w($weight);
	color: font-c($color);
	font-size: font-s($size);
}

/* FUNCTIONS */
@function font-f($f) {
	@return map-get(typography.$ff, $f);
}

@function font-w($w) {
	@return map-get(typography.$fw, $w);
}

@function font-c($c) {
	@return map-get(typography.$fc, $c);
}

@function font-s($s) {
	@return map-get(typography.$fs, $s);
}

/* BUTTONS */
@mixin red-button {
	background: variables.$main-red-color;
	border-radius: 10px;
	padding: 15px 20px 15px 20px;
	transition: all 0.5s ease;

	&:hover {
		background: variables.$main-white-color;
		color: #e25447;
	}
}

@mixin white-button {
	border: 1px solid rgba(226, 84, 71, 0.6);
	border-radius: 10px;
	background: variables.$main-white-color;
	padding: 15px 20px 15px 20px;
	transition: all 0.5s ease;

	&:hover {
		background: #e25447;
		color: variables.$main-white-color;
	}
}

/* RESPONSIVE MIXINS */

@mixin desktop {
	@media screen and (min-width: 1000px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: 768px) {
		@content;
	}
}

/* TITLE STYLES */
@mixin red-title {
	@include font(Montserrat-f, medium-w, red-color, normal-s);
}

@mixin blue-title {
	@include font(Montserrat-f, bold-w, blue-color, big-s);
}

@mixin pp {
	@include font(Montserrat-f, regular-w, gray-color, tiny-s);
}

@mixin subtitle {
	@include font(Montserrat-f, semibold-w, blue-color, medium-s);
}
