/* FONT FAMILIES */
$ff: (
	"Montserrat-f": Montserrat,
);

/* FONT WEIGHTS */
$fw: (
	"regular-w": 400,
	"medium-w": 500,
	"semibold-w": 600,
	"bold-w": 700,
);

/* FONT COLORS */
$fc: (
	"red-color": #e25447,
	"black-color": #00000099,
	"blue-color": #072139,
	"gray-color": #505457,
	"white-color": #fff,
);

/* FONT SIZES */
$fs: (
	"tiny-s": 16px,
	"normal-s": 18px,
	"medium-s": 20px,
	"big-s": 36px,
);
