/* BACKGROUND COLORS */
$primary-dark-color: #000;
$secondary-white-color: #fff;
$terciary-yellow-color: orange;

/* TEXT COLORS */
$primary-text-color: #000;
$secondary-text-color: gray;
$white-text-color: #fff;
$yellow-text-color: orange;

/* OTHERS */
$content-width: 78%;
