/* BACKGROUND COLORS */
$primary-dark-color: #24242c;
$primary-light-dark-color: #353541;
$secondary-white-color: #fff;
$terciary-yellow-color: #e0ad2f;
$terciary-light-yellow-color: #e2b84c;

/* TEXT COLORS */
$primary-text-color: #24242c;
$secondary-text-color: #5c5d61;
$secondary-light-text-color: #7c7e83;
$white-text-color: #fff;
$yellow-text-color: #d4980c;

$button-bg-color: #ffb600;
$gray-text-color: #a7a9aa;

/* OTHERS */
$content-width: 78%;
