@use '../config';

@include config.tablet {
	body {
		.footer-container {
			.content {
				.main-info {
					p {
						width: 60%;
					}
				}

				.other-info {
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					text-align: left;

					.item {
						margin: 0;
					}
				}
			}
		}
	}
}

@include config.desktop {
	body {
		.footer-container {
			text-align: left;

			.content {
				display: grid;
				grid-template-columns: 6fr 6fr;
				grid-template-rows: 1fr 50px;
				grid-template-areas:
					"a b"
					"c c";

				.main-info {
					grid-area: a;

					p {
						padding: 0;
						margin: 20px 0;
					}

					.social-icons {
						a:first-child {
							margin: 0 10px 0 0;
						}
					}
				}

				.other-info {
					grid-area: b;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					.item {
						margin: 0;

						h3,
						ul li {
							margin: 20px 0;
						}
					}
				}

				.last-info {
					grid-area: c;
					text-align: center;
				}
			}
		}
	}
}
