/* FONT FAMILIES */
/* FONT WEIGHTS */
/* FONT COLORS */
/* FONT SIZES */
/* MAIN COLORS */
/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* MIXINS */
/* FUNCTIONS */
/* BUTTONS */
/* RESPONSIVE MIXINS */
/* TITLE STYLES */
img {
  width: 100%;
}

/* NAVIGATION */
.header-container {
  width: 100%;
  height: 100%;
  background: rgba(255, 205, 201, 0.2);
}
.header-container .header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-container .header-nav .logo-container {
  padding: 15px 0px;
}
.header-container .header-nav .nav-items-container {
  text-align: center;
}
.header-container .header-nav .nav-items-container li {
  margin: 10px 0px;
}
.header-container .header-nav .nav-items-container a {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #00000099;
  font-size: 18px;
  transition: all 2 ease;
}
.header-container .header-nav .nav-items-container a:hover {
  font-size: 20px;
}
.header-container .header-nav .nav-items-container li:first-child a {
  font-family: sans-serif;
  font-weight: 600;
  color: #e25447;
  font-size: 18px;
  transition: all 1 ease;
}
.header-container .header-nav .nav-items-container li:first-child a:hover {
  font-size: 20px;
}
.header-container .header-nav .other-info-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .header-nav .other-info-container a {
  font-family: sans-serif;
  font-weight: 500;
  color: #072139;
  font-size: 20px;
}
.header-container .header-nav .other-info-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .header-nav .other-info-container div p {
  font-family: sans-serif;
  font-weight: 400;
  color: #072139;
  font-size: 18px;
}
.header-container .header-nav .other-info-container a,
.header-container .header-nav .other-info-container div {
  margin: 0px 10px;
}

/* HERO SECTION */
.header-container .main-container {
  display: flex;
  flex-direction: column;
  margin: 80px 0px;
}
.header-container .main-container .info-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto 50px auto;
  text-align: center;
}
.header-container .main-container .info-container h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #072139;
  font-size: 36px;
}
.header-container .main-container .info-container h1 span {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #e25447;
  font-size: 36px;
}
.header-container .main-container .info-container p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #505457;
  font-size: 16px;
  margin: 30px auto 50px auto;
  padding: 0px 10px;
  width: 85%;
}
.header-container .main-container .info-container a {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  background: #e25447;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  transition: all 0.5s ease;
}
.header-container .main-container .info-container a:hover {
  background: #fff;
  color: #e25447;
}
.header-container .main-container .cover-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  max-width: 400px;
}
.header-container .main-container .cover-container div {
  position: absolute;
  display: flex;
  background: #fff;
  right: 0;
  bottom: 0;
  padding: 5%;
  border-radius: 10px 0px 0px 0px;
  cursor: pointer;
}
.header-container .main-container .cover-container p {
  margin-right: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #e25447;
  font-size: 20px;
}
.header-container .main-container .cover-container img {
  width: 100%;
  border-radius: 10px;
}

.company-logos-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.company-logos-container h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #1d1a18;
  font-size: 30px;
}
.company-logos-container div {
  margin-top: 30px;
}
.company-logos-container div ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.company-logos-container div ul li {
  margin: 15px 0px;
}

.about-container {
  margin: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.about-container .about-info h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #e25447;
  font-size: 18px;
}
.about-container .about-info h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #072139;
  font-size: 36px;
  margin: 20px 0px;
}
.about-container .about-info p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #505457;
  font-size: 16px;
  padding: 0 10px;
  width: 85%;
  margin: 0 auto;
}
.about-container .about-box h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #072139;
  font-size: 20px;
}
.about-container .about-box p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #505457;
  font-size: 16px;
}
.about-container .about-box .image-container img {
  width: 100%;
  max-width: 500px;
}
.about-container .about-box .box-info div {
  margin: 50px 0;
}
.about-container .about-box .box-info div img {
  width: 20%;
  max-width: 50px;
}
.about-container .about-box .box-info div h3 {
  padding: 20px 0;
}
.about-container .about-box .box-info div p {
  padding: 0 10px;
  width: 50%;
  margin: 0 auto;
}

.comfort-container {
  width: 90%;
  margin: 0 auto;
  background: rgba(255, 205, 201, 0.2);
  text-align: center;
}
.comfort-container h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #e25447;
  font-size: 18px;
}
.comfort-container h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #072139;
  font-size: 36px;
  margin: 40px 0;
}
.comfort-container p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #505457;
  font-size: 16px;
  padding: 0 10px;
  width: 90%;
  margin: 0 auto 80px auto;
}
.comfort-container img {
  margin-top: 50px;
  width: 100%;
  max-width: 400px;
}
.comfort-container a {
  border: 1px solid rgba(226, 84, 71, 0.6);
  border-radius: 10px;
  background: #fff;
  padding: 15px 20px 15px 20px;
  transition: all 0.5s ease;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #e25447;
  font-size: 16px;
}
.comfort-container a:hover {
  background: #e25447;
  color: #fff;
}

.products-container {
  margin: 80px 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.products-container a {
  border: 1px solid rgba(226, 84, 71, 0.6);
  border-radius: 10px;
  background: #fff;
  padding: 15px 20px 15px 20px;
  transition: all 0.5s ease;
  display: inline-block;
  margin-top: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #e25447;
  font-size: 16px;
}
.products-container a:hover {
  background: #e25447;
  color: #fff;
}
.products-container .products-info h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #e25447;
  font-size: 18px;
}
.products-container .products-info h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #072139;
  font-size: 36px;
  margin: 30px 0;
}
.products-container .products-info p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #505457;
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
}
.products-container .content .item h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #072139;
  font-size: 20px;
}
.products-container .content .item img {
  width: 100%;
  max-width: 350px;
}
.products-container .content .item .price h3 {
  color: #e25447;
}
.products-container .content .item p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #505457;
  font-size: 16px;
  margin: 15px 0;
  padding: 0 10px;
}
.products-container .content .item .box-container {
  margin-top: 15px;
}

.quality-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.quality-container .image-content img {
  width: 100%;
  max-width: 350px;
}
.quality-container .quality-info {
  margin-top: 40px;
}
.quality-container .quality-info h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #e25447;
  font-size: 18px;
}
.quality-container .quality-info h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #072139;
  font-size: 36px;
  margin: 35px 0;
}
.quality-container .quality-info p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #505457;
  font-size: 16px;
  width: 90%;
  padding: 0 10px;
  margin: 0 auto;
}
.quality-container .quality-info .last-p {
  margin: 35px auto 45px auto;
}
.quality-container .quality-info a {
  border: 1px solid rgba(226, 84, 71, 0.6);
  border-radius: 10px;
  background: #fff;
  padding: 15px 20px 15px 20px;
  transition: all 0.5s ease;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #e25447;
  font-size: 16px;
}
.quality-container .quality-info a:hover {
  background: #e25447;
  color: #fff;
}

.customize-container {
  background: #e25447;
  width: 90%;
  margin: 80px 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}
.customize-container h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 36px;
}
.customize-container p {
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
}
.customize-container a {
  display: inline-block;
  margin: 10px 0;
}
.customize-container .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.customize-container .buttons a:first-child {
  border: 1px solid rgba(226, 84, 71, 0.6);
  border-radius: 10px;
  background: #fff;
  padding: 15px 20px 15px 20px;
  transition: all 0.5s ease;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #e25447;
  font-size: 16px;
  padding: 15px 50px 15px 50px;
  text-align: center;
}
.customize-container .buttons a:first-child:hover {
  background: #e25447;
  color: #fff;
}
.customize-container .buttons a:last-child {
  background: #e25447;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  transition: all 0.5s ease;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.customize-container .buttons a:last-child:hover {
  background: #fff;
  color: #e25447;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  background: rgba(255, 205, 201, 0.2);
  text-align: center;
}
.footer-container .content .main-info p {
  font-family: sans-serif;
  font-weight: 400;
  color: #505457;
  font-size: 18px;
  width: 90%;
  padding: 10px 0;
  margin: 20px auto;
}
.footer-container .content .main-info img {
  width: 100%;
  max-width: 200px;
  margin: 20px 0;
}
.footer-container .content .main-info .social-icons {
  margin: 40px 0;
}
.footer-container .content .main-info .social-icons a {
  margin: 0 10px;
}
.footer-container .content .main-info .social-icons img {
  width: 100%;
  max-width: 32px;
}
.footer-container .content .other-info .item {
  margin: 40px 0;
}
.footer-container .content .other-info .item h3 {
  font-family: sans-serif;
  font-weight: 600;
  color: #072139;
  font-size: 20px;
}
.footer-container .content .other-info .item a {
  font-family: sans-serif;
  font-weight: 400;
  color: #505457;
  font-size: 18px;
}
.footer-container .content .other-info .item span {
  font-family: sans-serif;
  font-weight: 400;
  color: #e25447;
  font-size: 18px;
}
.footer-container .content .other-info .item h3,
.footer-container .content .other-info .item ul li {
  margin: 25px 0;
}
.footer-container .content .other-info .last-item ul li p {
  font-family: sans-serif;
  font-weight: 500;
  color: #072139;
  font-size: 18px;
}
.footer-container .content .last-info {
  border-top: 1px solid rgba(226, 84, 71, 0.3);
  padding: 15px 0;
}
.footer-container .content .last-info p {
  font-family: sans-serif;
  font-weight: 400;
  color: #505457;
  font-size: 16px;
}

/* DESKTOP */
@media screen and (min-width: 1000px) {
  body {
    /* NAVIGATION */
    /* HERO SECTION */
  }
  body .header-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows: 90px 1fr;
    grid-template-areas: "n" "c";
  }
  body .header-container .header-nav {
    flex-direction: row;
    grid-area: n;
    width: 90%;
    justify-self: center;
    justify-content: space-between;
    padding-top: 20px;
  }
  body .header-container .header-nav .nav-items-container ul {
    display: flex;
  }
  body .header-container .header-nav .nav-items-container li {
    margin: 0px 20px;
  }
  body .header-container .header-nav .other-info-container {
    margin-top: 0px;
  }
  body .header-container .header-nav .other-info-container a,
body .header-container .header-nav .other-info-container div {
    margin: 0px 5px;
  }
  body .header-container .header-nav .other-info-container a {
    margin-right: 25px;
  }
  body .header-container .main-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    grid-area: c;
  }
  body .header-container .main-container .info-container {
    width: 90%;
    max-width: 100%;
    margin: 0;
    text-align: left;
    align-self: center;
    justify-self: right;
  }
  body .header-container .main-container .info-container h1 {
    width: 80%;
  }
  body .header-container .main-container .info-container p {
    margin: 30px 0 50px 0;
    padding: 0px 0px;
    width: 70%;
  }
  body .header-container .main-container .cover-container {
    width: 100%;
    margin: 0;
    position: relative;
    max-width: 100%;
  }
  body .header-container .main-container .cover-container .hero-image {
    width: auto;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
/*@include config.desktop {
/*	body {
/*		/* NAVIGATION */
/*		.header-container {
/*			.header-nav {
/*				flex-direction: row; /**/
/*				padding-top: 20px; /**/
/*
/*				.logo-container {
/*					margin-right: 40px; /**/
/*
/*				}
/*
/*				.nav-items-container {
/*					ul {
/*						/**/
/*						display: flex;
/*						align-items: center;
/*						justify-content: center;
/*					} /**/
/*
/*					li {
/*						margin: 10px 15px; /**/
/*					}
/*				}
/*
/*				.other-info-container {
/*					margin-top: 0px; /**/
/*					margin-left: 40px; /**/
/*				}
/*			}
/*		}
/*
/*		/* HERO SECTION */
/*
/*		.header-container {
/*			.main-container {
/*				display: grid; /**/
/*				flex-direction: row; /**/
/*				grid-template-columns: 6fr 6fr; /**/
/*				width: 100%; /**/
/*
/*				.info-container {
/*					width: 80%; /**/
/*					max-width: 600px;
/*					margin: 0 auto 50px auto;
/*					align-items: flex-start; /**/
/*					display: flex; /**/
/*					flex-direction: column; /**/
/*					justify-content: center; /**/
/*					text-align: left;
/*
/*					p {
/*						margin: 30px 0 50px 0; /**/
/*						padding: 0px 0px; /**/
/*						width: 85%;
/*					}
/*				}
/*
/*				.cover-container {
/*					width: 100%; /**/
/*
/*					margin: 0 auto;
/*					position: relative;
/*					max-width: 1000px; /**/
/*
/*					div {
/*						position: absolute;
/*						display: flex;
/*						right: 0;
/*						bottom: 0;
/*						padding: 5%;
/*						border-radius: 10px 0px 0px 0px;
/*						cursor: pointer;
/*					}
/*
/*					p {
/*						margin-right: 10px;
/*					}

/*					img {
						width: 100%;
						border-radius: 10px;
					}
				}
			  }
		}
	}
} 
*/
@media screen and (min-width: 768px) {
  body .company-logos-container div ul {
    flex-direction: row;
  }
  body .company-logos-container div ul li {
    margin: 0px 15px;
  }
}
@media screen and (min-width: 768px) {
  body .about-container .about-box {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 12fr;
  }
  body .about-container .about-box .box-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
  }
  body .about-container .about-box .box-info div {
    margin: 0 0 80px 0;
  }
  body .about-container .about-box .box-info div img {
    min-height: 50px;
  }
  body .about-container .about-box .box-info div p {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  body .comfort-container {
    text-align: left;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 12fr;
    align-items: center;
  }
  body .comfort-container p {
    padding: 0;
    margin: 0 0 40px 0;
  }
  body .comfort-container img {
    margin-top: 0px;
    max-width: 500px;
  }
  body .comfort-container .comfort-image {
    display: flex;
    justify-content: right;
  }
  body .comfort-container a {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  body .products-container .products-info p {
    width: 70%;
  }
  body .products-container .content {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 4fr 4fr 4fr;
  }
  body .products-container .content .item {
    margin: 0 10px;
    justify-self: center;
    align-self: center;
  }
  body .products-container .content .item .box-container {
    display: flex;
    align-items: flex-start;
    text-align: left;
  }
  body .products-container .content .item .box-container p {
    padding: 0;
    width: 90%;
  }
}
@media screen and (min-width: 1000px) {
  body .products-container .content {
    grid-template-rows: 6fr 6fr;
    grid-template-columns: 4fr 4fr 4fr;
  }
  body .products-container .products-info p {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  body .quality-container {
    text-align: left;
    display: grid;
    grid-template-rows: 12fr;
    grid-template-columns: 6fr 6fr;
    align-items: center;
  }
  body .quality-container .image-content img {
    max-width: 550px;
  }
  body .quality-container .quality-info p {
    padding: 0;
    margin: 0;
  }
  body .quality-container .quality-info .last-p {
    margin: 35px 0 45px 0;
  }
}
@media screen and (min-width: 768px) {
  body .customize-container {
    padding: 20px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body .customize-container .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body .customize-container p {
    width: 80%;
    margin: 10px auto 0 auto;
  }
  body .customize-container a {
    margin: 0 15px;
  }
  body .customize-container .buttons {
    flex-direction: row;
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  body .footer-container .content .main-info p {
    width: 60%;
  }
  body .footer-container .content .other-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
  }
  body .footer-container .content .other-info .item {
    margin: 0;
  }
}
@media screen and (min-width: 1000px) {
  body .footer-container {
    text-align: left;
  }
  body .footer-container .content {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas: "a b" "c c";
  }
  body .footer-container .content .main-info {
    grid-area: a;
  }
  body .footer-container .content .main-info p {
    padding: 0;
    margin: 20px 0;
  }
  body .footer-container .content .main-info .social-icons a:first-child {
    margin: 0 10px 0 0;
  }
  body .footer-container .content .other-info {
    grid-area: b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  body .footer-container .content .other-info .item {
    margin: 0;
  }
  body .footer-container .content .other-info .item h3,
body .footer-container .content .other-info .item ul li {
    margin: 20px 0;
  }
  body .footer-container .content .last-info {
    grid-area: c;
    text-align: center;
  }
}
/* RESPONSIVE */

/*# sourceMappingURL=main.css.map */
